## functions

In [ ]:
def function_name(parameters):
    # function body
    return

In [1]:
num = 24
if num % 2 == 0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [2]:
def even_or_odd(number):
    """THis function finds if the number is odd or even"""
    if number % 2 == 0:
        print("the number is even")
    else:
        print("the number is odd")

In [5]:
x = int(input("enter a number"))
even_or_odd(x)

the number is even

In [7]:
## function with multiple parameters
def add(a,b):
    return a + b

result = add(2,4)
print(result)

6

In [10]:
## default parameters

def greet(name = "Noname"):
    print(f"Hello {name}")

greet("ahmed")
greet()

Hello ahmed
Hello Noname

In [ ]:
### variable length arguments
## positional and keywords arguments

## positional arguments
def print_numbers(*args):
    for numbers in args:
        print(numbers)


print_numbers(1,2,3,4,5,6,"ahmed")

1
2
3
4
5
6
ahmed

In [13]:
## keywords argument

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

print_details(name = "ahmed",age = 24,)

name:ahmed
age:24

In [14]:
def print_details2(*args,**kwargs):
    for val in args:
        print(f"positional arguments: {val}")

    for key,value in kwargs.items():
        print(f"keywords arguments: {key}:{value}")


print_details2(1,2,3,name="ahmed",age = 24)

positional arguments: 1
positional arguments: 2
positional arguments: 3
keywords arguments: name:ahmed
keywords arguments: age:24

In [16]:
## return statements
def multiply(a,b):
    return a * b , a

result = multiply(2,3)
print(result)
print(type(result))

(6, 2)
<class 'tuple'>