In [75]:
import sqlite3

In [76]:
connection = sqlite3.connect("movies.db")
cursor = connection.cursor()

In [77]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS movie(id INTEGER PRIMARY KEY,
    name TEXT)
''')
cursor.execute('''
INSERT OR IGNORE INTO movie VALUES(1,"Oppenheimer")
''')
connection.commit()

In [78]:
data = cursor.execute('''
SELECT * FROM movie
''')
for i in data:
    print(i)

(1, 'Oppenheimer')

In [79]:
movies = [
    (2,"Beekeeper"),
    (3,"Fast and furious"),
    (4,"GodFather")
]
cursor.executemany('''
INSERT OR IGNORE INTO movie VALUES(?,?)
''',movies)
connection.commit()

In [80]:
data = cursor.execute('''
SELECT * FROM movie
''')
for i in data:
    print(i)

(1, 'Oppenheimer')
(2, 'Beekeeper')
(3, 'Fast and furious')
(4, 'GodFather')

In [81]:
cursor.execute('''
SELECT * FROM movie
''')
print(cursor.fetchone())

(1, 'Oppenheimer')

In [82]:
cursor.execute('''
SELECT * FROM movie
''')
print(cursor.fetchmany(2))
print(cursor.fetchone())

[(1, 'Oppenheimer'), (2, 'Beekeeper')]
(3, 'Fast and furious')

In [83]:
cursor.execute('''
SELECT * FROM movie
''')
data = cursor.fetchall()
print(data)
for row in data:
    print(row)

[(1, 'Oppenheimer'), (2, 'Beekeeper'), (3, 'Fast and furious'), (4, 'GodFather')]
(1, 'Oppenheimer')
(2, 'Beekeeper')
(3, 'Fast and furious')
(4, 'GodFather')

In [85]:
cursor.execute('''
SELECT * FROM movie ORDER BY name DESC
''')
print(cursor.fetchall())

[(1, 'Oppenheimer'), (4, 'GodFather'), (3, 'Fast and furious'), (2, 'Beekeeper')]

In [87]:
cursor.execute('''
SELECT * FROM movie ORDER BY name LIMIT 2
''')
print(cursor.fetchall())

[(2, 'Beekeeper'), (3, 'Fast and furious')]

In [95]:
cursor.execute('''
SELECT * FROM movie WHERE name != 'Beekeeper' AND id != 3
''')
print(cursor.fetchall())

[(1, 'Oppenheimer'), (4, 'GodFather')]

In [96]:
cursor.execute('''
SELECT * FROM movie WHERE name != UPPER('Beekeeper') 
''')
print(cursor.fetchall())

[(1, 'Oppenheimer'), (2, 'Beekeeper'), (3, 'Fast and furious'), (4, 'GodFather')]

In [99]:
cursor.execute('''
SELECT * FROM movie WHERE name LIKE 'oPpenheimer'
''')
print(cursor.fetchall())

[(1, 'Oppenheimer')]

In [101]:
cursor.execute('''
SELECT * FROM movie WHERE name LIKE '%e%'
''')
print(cursor.fetchall())

[(1, 'Oppenheimer'), (2, 'Beekeeper'), (4, 'GodFather')]

In [104]:
cursor.execute('''
SELECT * FROM movie WHERE name LIKE '%s'
''')
print(cursor.fetchall())

[(3, 'Fast and furious')]

In [106]:
cursor.execute('''
SELECT * FROM movie WHERE name LIKE '_a%'
''')
print(cursor.fetchall())

[(3, 'Fast and furious')]

In [109]:
cursor.execute('''
SELECT * FROM movie WHERE id BETWEEN 2 AND 4
''')
print(cursor.fetchall())

[(2, 'Beekeeper'), (3, 'Fast and furious'), (4, 'GodFather')]

In [110]:
cursor.execute('''
SELECT * FROM movie WHERE id NOT BETWEEN 3 AND 4
''')
print(cursor.fetchall())

[(1, 'Oppenheimer'), (2, 'Beekeeper')]

In [111]:
connection.close()