In [1]:
import sqlite3

In [ ]:
connection = sqlite3.connect('movies.db')
cursor = connection.cursor()
cursor.execute('''
UPDATE movie SET name = 'Fast and furious 7' where id = 3
''')
cursor.execute('''
SELECT * FROM movie
''')
print(cursor.fetchall())

[(1, 'Oppenheimer'), (2, 'Beekeeper'), (3, 'Fast and furious 7'), (4, 'GodFather')]

In [6]:
connection.commit()

In [8]:
cursor.execute('''
INSERT OR IGNORE INTO movie VALUES(5,'Test')
''')
connection.commit()

In [9]:
cursor.execute('''
SELECT * FROM movie
''')
print(cursor.fetchall())

[(1, 'Oppenheimer'), (2, 'Beekeeper'), (3, 'Fast and furious 7'), (4, 'GodFather'), (5, 'Test')]

In [10]:
## delete data
cursor.execute('''
DELETE FROM movie WHERE id = 5
''')
connection.commit()

In [11]:
cursor.execute('''
SELECT * FROM movie
''')
print(cursor.fetchall())

[(1, 'Oppenheimer'), (2, 'Beekeeper'), (3, 'Fast and furious 7'), (4, 'GodFather')]

In [12]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS user(id INTEGER PRIMARY KEY,name TEXT)
''')
connection.commit()

In [13]:
cursor.execute('''
INSERT OR IGNORE INTO user VALUES(1,'ahmed')
''')
connection.commit()

In [14]:
cursor.execute('''
SELECT * FROM user
''')
print(cursor.fetchall())

[(1, 'ahmed')]

In [15]:
## delete table
cursor.execute('''
DROP TABLE user
''')
connection.commit()

In [18]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS users(id INTEGER PRIMARY KEY AUTOINCREMENT
,name TEXT NOT NULL)
''')
connection.commit()

In [20]:
cursor.execute('''
INSERT OR IGNORE INTO users(name) VALUES('ahmed')
''')
connection.commit()

In [22]:
cursor.execute('''
SELECT * FROM users
''')
print(cursor.fetchall())

[(1, 'ahmed')]

In [23]:
cursor.execute("""
ALTER TABLE users
ADD COLUMN age INTEGER
""")
connection.commit()

In [24]:
cursor.execute('''
SELECT * FROM users
''')
print(cursor.fetchall())

[(1, 'ahmed', None)]

In [26]:
cursor.execute('''
UPDATE users SET age = 24 where id = 1
''')
connection.commit()

In [27]:
cursor.execute('''
SELECT * FROM users
''')
print(cursor.fetchall())

[(1, 'ahmed', 24)]

In [28]:
connection.close()