# Module: Pandas Assignments
## Lesson: Pandas

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [6]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,21,size=(6,4)),columns=['A','B','C','D'])
print(df)
df.set_index('A',inplace=True)
print(df)

    A   B   C   D
0   4   5  15   3
1   1  15   2  12
2   6   6   3   5
3  19  15  14  20
4   9  20   9   4
5   7   6  19   6
     B   C   D
A
4    5  15   3
1   15   2  12
6    6   3   5
19  15  14  20
9   20   9   4
7    6  19   6

In [8]:
rand_int = np.random.randint(1,21,size=(3,3))
df2 = pd.DataFrame(rand_int,columns=['A','B','C'],index=['X','Y','Z'])
print(df2)
df2.at['Y','B']

    A   B   C
X   4   8  13
Y   6  10   2
Z  13  17   6

np.int64(10)

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [11]:
df = pd.DataFrame(np.random.randint(1,21,size=(5,3)),columns=['A','B','C'])
print(df)
df['A*B'] = df['A'] * df['B']
print(df)

    A   B   C
0   2   3  11
1   2   3   1
2  20   5   4
3  16  14  10
4  15   5   5
    A   B   C  A*B
0   2   3  11    6
1   2   3   1    6
2  20   5   4  100
3  16  14  10  224
4  15   5   5   75

In [12]:
df2 = pd.DataFrame(np.random.randint(1,21,size=(4,3)),columns=['A','B','C'])
print(df)
print(df.sum(axis=1))
print(df.sum(axis=0))

    A   B   C  A*B
0   2   3  11    6
1   2   3   1    6
2  20   5   4  100
3  16  14  10  224
4  15   5   5   75
0     22
1     12
2    129
3    264
4    100
dtype: int64
A       55
B       30
C       31
A*B    411
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [14]:
df = pd.DataFrame(np.random.randint(1,21,size=(5,3)),columns=['A','B','C'])
df.iloc[0,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print(df)
df.fillna(df.mean(),inplace=True)
print(df)

      A     B     C
0  17.0   NaN  17.0
1  13.0  12.0  17.0
2   1.0  17.0   NaN
3  16.0   9.0   3.0
4   NaN  19.0   8.0
       A      B      C
0  17.00  14.25  17.00
1  13.00  12.00  17.00
2   1.00  17.00  11.25
3  16.00   9.00   3.00
4  11.75  19.00   8.00

In [16]:
df = pd.DataFrame(np.random.randint(1,21,size=(6,4)),columns=['A','B','C','D'])
df.iloc[0,2] = np.nan
df.iloc[2,3] = np.nan
print(df)
df.dropna(inplace=True)
print(df)

    A   B     C     D
0  13   3   NaN   9.0
1  14   1   1.0  11.0
2   6   9  18.0   NaN
3  20  10  19.0  19.0
4   6  10   8.0  14.0
5   9  20  12.0   4.0
    A   B     C     D
1  14   1   1.0  11.0
3  20  10  19.0  19.0
4   6  10   8.0  14.0
5   9  20  12.0   4.0


### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [19]:
df = pd.DataFrame({'category':np.random.choice(['A','B','C'],size=10),'value': np.random.randint(1,21,size=10)})
print(df)
grouped_df = df.groupby('category')['value'].agg(['sum','mean'])
print(grouped_df)

  category  value
0        A      2
1        B     13
2        B      7
3        B     14
4        B     17
5        C      3
6        C     10
7        C      3
8        B      2
9        A      7
          sum       mean
category
A           9   4.500000
B          53  10.600000
C          16   5.333333

In [24]:
df = pd.DataFrame({'product':np.random.choice(['product1','product2','product3'],size=5),'category':np.random.choice(['A','B','C'],size=5),'sales':np.random.randint(1,11,size=5)})
print(df)
grouped_df = df.groupby('category')['sales'].sum()
print(grouped_df)

    product category  sales
0  product3        C      9
1  product3        C      3
2  product1        A      5
3  product3        B      6
4  product2        A      5
category
A    10
B     6
C    12
Name: sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [36]:
df1 = pd.DataFrame({'key':['a','b','c','d'],'value1':[1,2,3,4]})
df2 = pd.DataFrame({'key':['a','b','c','e'],'value2':[1,2,3,4]})

df1 = pd.merge(df1,df2,on='key',how='inner')
df1

  key  value1  value2
0   a       1       1
1   b       2       2
2   c       3       3

In [39]:
df1 = pd.DataFrame({'key1':['a','b','c','d'],'value1':[1,2,3,4]})
df2 = pd.DataFrame({'key2':['e','b','c','f'],'value2':[5,6,7,8]})
df = pd.concat([df1,df2],axis=0)
print(df)
df = pd.concat([df1,df2],axis=1)
print(df)

  key1  value1 key2  value2
0    a     1.0  NaN     NaN
1    b     2.0  NaN     NaN
2    c     3.0  NaN     NaN
3    d     4.0  NaN     NaN
0  NaN     NaN    e     5.0
1  NaN     NaN    b     6.0
2  NaN     NaN    c     7.0
3  NaN     NaN    f     8.0
  key1  value1 key2  value2
0    a       1    e       5
1    b       2    b       6
2    c       3    c       7
3    d       4    f       8

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.


### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.


### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.