## Lists

In [1]:
lst = []
print(type(lst))

<class 'list'>

In [1]:
names = ["ahmed", "hany",1,3,False]
print(names)

['ahmed', 'hany', 1, 3, False]

In [15]:
## Accessing list elements
fruits = ["apple", "banana", "orange","kiwi"]
print(fruits[0])
print(fruits[-1])

apple
kiwi

In [16]:
print(fruits[1:])
print(fruits[-1:-3:-1])

['banana', 'orange', 'kiwi']
['kiwi', 'orange']

In [17]:
fruits[1] = "watermelon"
print(fruits)

['apple', 'watermelon', 'orange', 'kiwi']

In [18]:
## add element to the end
fruits.append("pineapple")
print(fruits)

['apple', 'watermelon', 'orange', 'kiwi', 'pineapple']

In [19]:
## add element in a certain position
fruits.insert(2,"kiwi")
print(fruits)

['apple', 'watermelon', 'kiwi', 'orange', 'kiwi', 'pineapple']

In [20]:
## remove the first occurrence of an item
fruits.remove("kiwi")
print(fruits)

['apple', 'watermelon', 'orange', 'kiwi', 'pineapple']

In [21]:
## remove and return last item
popped_fruit = fruits.pop()
print(popped_fruit)
print(fruits)

pineapple
['apple', 'watermelon', 'orange', 'kiwi']

In [22]:
print(fruits.index("apple"))

0

In [24]:
fruits.insert(1,"banana")
print(fruits)

['apple', 'banana', 'watermelon', 'orange', 'kiwi']

In [25]:
fruits.append("banana")
print(fruits)

['apple', 'banana', 'watermelon', 'orange', 'kiwi', 'banana']

In [26]:
no_of_bananas = fruits.count("banana")
print(no_of_bananas)

2

In [27]:
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)

['apple', 'banana', 'banana', 'kiwi', 'orange', 'watermelon']
['watermelon', 'orange', 'kiwi', 'banana', 'banana', 'apple']

In [28]:
fruits.clear()
print(fruits)

[]

In [34]:
## slicing lists

numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])
print(numbers[1::2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[2, 4, 6, 8, 10]

In [35]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [36]:
for index, number in enumerate(numbers):
    print(f"at index {index} there is {number}")

at index 0 there is 1
at index 1 there is 2
at index 2 there is 3
at index 3 there is 4
at index 4 there is 5
at index 5 there is 6
at index 6 there is 7
at index 7 there is 8
at index 8 there is 9
at index 9 there is 10

In [42]:
lst = []
for x in range(10):
    lst.append(x**2)

print(lst)

## in another way

sq_of_even = [x**2 for x in range(10) if x % 2 == 0]
print(sq_of_even)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [43]:
lst1 = [1,2,3]
lst2 = ['a','b']
pair = [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [2, 'a'], [2, 'b'], [3, 'a'], [3, 'b']]

In [45]:
words = ["eat","food","bring","calculate"]
lengths = [len(word) for word in words]
print(lengths)

[3, 4, 5, 9]