## Sets

In [3]:
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
empty_set = set()
print(type(empty_set))

<class 'set'>

In [8]:
empty_set = set([1,2,3,4,5,6,6,2])
print(empty_set)
print(type(empty_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [9]:
## set operations
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [10]:
my_set.remove(4)
print(my_set)

{1, 2, 3, 5, 6}

In [11]:
my_set.discard(7)
print(my_set)

{1, 2, 3, 5, 6}

In [12]:
removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 3, 5, 6}

In [13]:
my_set.clear()
print(my_set)

set()

In [14]:
my_set = {1,2,3,4,5}
print(3 in my_set)
print(6 in my_set)

True
False

In [18]:
## mathematical operations
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

## union
union_set = set1.union(set2)
print(union_set)

## intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

## difference
print(set1.difference(set2))

## symmetric difference
print(set1.symmetric_difference(set2)) ## common elements removed

print(set1.issubset(set2))
print(set1.issuperset(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{1, 2, 3, 7, 8, 9}
False
False

In [21]:
## counting unique words in a text

text = "ahmed mohamed ahmed his know jar bar car his book book"
words = text.split()
print(words)
unique_words = set(words)
print(unique_words)

['ahmed', 'mohamed', 'ahmed', 'his', 'know', 'jar', 'bar', 'car', 'his', 'book', 'book']
{'mohamed', 'ahmed', 'jar', 'his', 'bar', 'know', 'book', 'car'}